// Abstracts
@use '../../abstracts' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

// BEM - Blocks
.popin {
    position: fixed;
    top: 50%;
    right: 20px;
    left: 20px;
    z-index: 99;
    padding: 20px;
    background-color: $color-body;
    border: $border-box;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    @include mq($from: desktop) {
        right: inherit;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    &--hidden {
        display: none;
    }

    &__text {
        font-size: $font-size-md;
        line-height: $line-height-medium;

        &--center {
            text-align: center;
        }
    }

    &__icon {
        font-size: $font-size-lg;

        &--hovered {
            @include mq($from: desktop) {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &--cross {
            color: $color-icon;
        }

        &--validate {
            margin-top: 15px;
            color: $color-validate;
            font-size: $font-size-xl;
        }
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        &--row {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        &--right {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }

        &--center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }
}
