// Abstracts
@use '../../abstracts' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

// Colors
$color-text: #424953;
$color-list: #928d7a;

// Component
.list {
    color: $color-list;

    &__text {
        color: $color-text;
    }
}
