// Abstracts
@use '../../abstracts' as *;

// Borders
$border-button: 1px solid #62959c;
$border-button-hover: 1px solid #928d7a;

// Colors
$color-text: #424953;
$color-body: #fff;

// Fonts
$font-size-sm: 2.5rem;
$font-family-sans-serif: sans-serif;
$font-family-main: 'ephesis-regular';

// Component
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    color: $color-text;
    font-size: $font-size-sm;
    font-family: $font-family-main, $font-family-sans-serif;
    text-decoration: none;
    background-color: $color-body;
    border: $border-button;
    border-radius: 3px;

    @include mq($from: desktop) {
        &:hover {
            cursor: pointer;
        }
    }

    &--fullWidth {
        width: 100%;

        @include mq($from: tablet) {
            width: inherit;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin: 0 0 0 10px;
    }
}
