// Abstracts
@use '../../abstracts' as *;

// Borders
$border-button: 1px solid #62959c;
$border-button-hover: 1px solid #928d7a;

// Colors
$color-text: #424953;
$color-icon: #928d7a;
$color-icon-hover: #62959c;
$color-body: #fff;

// Font size
$font-size-sm: 1.5rem;

// Component
.btn {
    display: inline-block;
    padding: 10px 40px;
    color: $color-text;
    font-size: $font-size-sm;
    text-align: center;
    text-decoration: none;
    background-color: $color-body;
    border: $border-button;
    border-radius: 3px;

    @include mq($from: desktop) {
        &:hover {
            cursor: pointer;
        }
    }

    &--fullWidth {
        width: 100%;

        @include mq($from: tablet) {
            width: inherit;
        }
    }

    &__icon {
        margin: 0 0 0 10px;
        color: $color-icon;
    }
}
