// Abstracts
@use '../../abstracts' as *;

// Borders
$border-button: 1px solid #62959c;
$border-button-hover: 1px solid #928d7a;

// Colors
$color-button-text: #424953;
$color-button-background: #fff;

// Fonts
$font-size-button: 1.5rem;

// Component
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    color: $color-button-text;
    font-size: $font-size-button;
    text-decoration: none;
    background-color: $color-button-background;
    border: $border-button;
    border-radius: 3px;

    @include mq($from: desktop) {
        &:hover {
            cursor: pointer;
        }
    }

    &--fullWidth {
        width: 100%;

        @include mq($from: tablet) {
            width: inherit;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        margin: 0 0 0 10px;
    }
}
