// Abstracts
@use '../../abstracts' as *;

// Borders
$border-form-field-active: 1px solid #62959c;
$border-form-field: 1px solid #928d7a;

// Colors
$color-form-text: #424953;
$color-form-error: #ec5858;

// Fonts
$font-size-form: 1.5rem;

// Component
.form {
    padding: 40px 0 0;

    @include mq($from: desktop) {
        width: 100%;
    }

    &__container {
        display: flex;

        &--row {
            flex-direction: row;
        }

        &--spaceBetween {
            justify-content: space-between;
        }

        &--center {
            justify-content: center;
        }
    }

    &__header {
        margin-bottom: 20px;
    }

    &__field {
        display: block;
        padding: 10px 20px;
        color: $color-form-text;
        font-size: $font-size-form;
        border: $border-form-field;
        border-radius: 3px;
        outline: none;

        &--bigger {
            height: 90px;
        }

        &--focused {
            &:focus {
                border: $border-form-field-active;
            }
        }

        &--fullWidth {
            width: 100%;
        }

        &--mediumWidth {
            width: calc(50% - 20px);
        }
    }

    &__row {
        position: relative;
        margin-bottom: 20px;

        &--mediumWidth {
            width: calc(50% - 20px);
        }
    }

    &__error {
        display: block;
        padding: 5px 0;
        color: $color-form-error;
        font-size: $font-size-form;
    }
}
