// Abstracts
@use '../../abstracts' as *;

// Colors
$color-list-text: #424953;
$color-list-dot: #928d7a;

// Component
.list {
    color: $color-list-dot;

    &__text {
        color: $color-list-text;
    }
}
