// Abstracts
@use '../../abstracts' as *;

// BEM Blocks
.article {
    padding: 40px 0;
    border-bottom: 1px solid #928d7a;

    &--started {
        padding-top: 0;
    }

    &--ended {
        padding-bottom: 0;
        border-bottom: inherit;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;

        &--row {
            flex-direction: row;
        }

        &--center {
            justify-content: center;
        }
    }

    &__image {
        border-radius: 60px;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__row {
        margin-bottom: 20px;
    }

    &__content {
        max-height: 0;
        margin-bottom: 20px;
        overflow: hidden;
        transition: max-height 200ms ease-in-out;

        &--visible {
            max-height: 1000px;
        }
    }
}
