// Abstracts
@use '../abstracts' as *;

// Vendors
@use '../vendors/sass-mq/mq' as *;

// BEM Blocks
.l-wrapper {
    @include mq($until: tablet) {
        margin: 0 20px;
    }

    @include mq($from: tablet) {
        max-width: $device-md;
        margin: 0 auto;
    }

    @include mq($from: desktop) {
        max-width: $device-lg;
    }

    @include mq($from: wide) {
        max-width: $device-xl;
    }
}
