// Abstracts
@use '../../abstracts' as *;

// BEM Blocks
.app {
    &__wrapper {
        @include mq($until: tablet) {
            margin: 0 20px;
        }

        @include mq($from: tablet) {
            max-width: $device-md;
            margin: 0 auto;
        }

        @include mq($from: desktop) {
            max-width: $device-lg;
        }

        @include mq($from: wide) {
            max-width: $device-xl;
        }
    }

    &__interlocking {
        @include mq($from: desktop) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__map {
        margin: 40px 0;
    }
}
