// Abstracts
@use '../../abstracts' as *;

$color-app-background: #fff;
$color-app-text: #424953;
$font-family-app-text: 'opensans-regular', sans-serif;

// Component
.app {
    color: $color-app-text;
    font-family: $font-family-app-text;
    background-color: $color-app-background;

    &__wrapper {
        @include mq($until: tablet) {
            margin: 0 20px;
        }

        @include mq($from: tablet) {
            max-width: $device-md;
            margin: 0 auto;
        }

        @include mq($from: desktop) {
            max-width: $device-lg;
        }

        @include mq($from: wide) {
            max-width: $device-xl;
        }
    }

    &__interlocking {
        @include mq($from: desktop) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__map {
        margin: 40px 0;
    }
}
