// Abstracts
@use '../../abstracts' as *;

// Colors
$color-title: #424953;
$color-title-subtext: #928d7a;

// Fonts
$font-family-sans-serif: sans-serif;
$font-family-main: 'ephesis-regular';
$font-size-title-xl: 4.5rem;
$font-size-title-lg: 3.5rem;
$font-size-title-md: 2.9rem;

// Component
.title {
    color: $color-title;
    font-weight: normal;
    font-family: $font-family-main, $font-family-sans-serif;

    &--xl {
        font-size: $font-size-title-xl;
    }

    &--lg {
        font-size: $font-size-title-lg;
    }

    &--md {
        font-size: $font-size-title-md;
    }

    &--center {
        text-align: center;
    }

    &__mainWord {
        color: $color-title-subtext;
    }
}
