// Abstracts
@use '../../abstracts' as *;

// Borders
$border-popin: 2px solid #8db596;

// Colors
$color-popin-background: #fff;

// Fonts
$font-size-popin: 2.9rem;
$font-family-popin: 'ephesis-regular', sans-serif;

// Component
.popin {
    position: fixed;
    top: 50%;
    right: 20px;
    left: 20px;
    z-index: 99;
    padding: 20px;
    background-color: $color-popin-background;
    border: $border-popin;
    transform: translateY(-50%);

    @include mq($from: desktop) {
        right: inherit;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--hidden {
        display: none;
    }

    &__text {
        font-size: $font-size-popin;
        font-family: $font-family-popin;
        line-height: 40px;

        &--center {
            text-align: center;
        }
    }

    &__icon {
        &--hovered {
            @include mq($from: desktop) {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &--cross {
            width: 15px;
        }

        &--validate {
            width: 30px;
            margin-top: 15px;
        }
    }

    &__container {
        display: flex;

        &--row {
            flex-direction: row;
        }

        &--right {
            justify-content: flex-end;
        }

        &--center {
            justify-content: center;
        }
    }
}
