// Abstracts
@use '../../abstracts' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

// BEM Blocks
.c-sidebar {
    padding: 40px 20px;
    background-color: $color-box;
    border: $border-box;

    @include mq($from: desktop) {
        width: calc(35% - 40px);
    }

    @include mq($from: wide) {
        width: calc(30% - 40px);
    }
}

// BEM Elements
.c-sidebar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.c-sidebar__container--row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.c-sidebar__container--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-sidebar__header {
    margin-bottom: 40px;
}

.c-sidebar__icon {
    padding: 20px;
    color: $color-icon;
    font-size: $font-size-xl;
    background-color: $color-box;
    border: $border-icon;
    border-radius: 39px;

    @include mq($from: desktop) {
        background-color: $color-body;
    }
}
