// Abstracts
@use '../../abstracts' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

// Borders
$border-field-active: 1px solid #62959c;
$border-field: 1px solid #928d7a;

// Colors
$color-text: #424953;
$color-error: #ec5858;

// Font size
$font-size-sm: 1.5rem;

// Component
.form {
    padding: 40px 0 0;

    @include mq($from: desktop) {
        width: 100%;
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        &--row {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        &--spaceBetween {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        &--center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    &__header {
        margin-bottom: 20px;
    }

    &__field {
        display: block;
        padding: 10px 20px;
        color: $color-text;
        font-size: $font-size-sm;
        border: $border-field;
        border-radius: 3px;
        outline: none;

        &--bigger {
            height: 90px;
        }

        &--focused {
            &:focus {
                border: $border-field-active;
            }
        }

        &--fullWidth {
            width: 100%;
        }

        &--mediumWidth {
            width: calc(50% - 20px);
        }
    }

    &__row {
        position: relative;
        margin-bottom: 20px;

        &--mediumWidth {
            width: calc(50% - 20px);
        }
    }

    &__error {
        display: block;
        padding: 5px 0;
        color: $color-error;
        font-size: $font-size-sm;
    }
}
