// Abstracts
@use '../../abstracts' as *;

// BEM Blocks
.box {
    padding: 0 0 40px;

    @include mq($from: desktop) {
        width: calc(65% - 40px);
        padding: 40px 0 0;
    }

    @include mq($from: wide) {
        width: calc(70% - 40px);
    }

    &__header {
        margin-bottom: 40px;
    }
}
