// Abstracts
@use '../../abstracts' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

// BEM Blocks
.article {
    padding: 40px 0;
    border-bottom: 1px solid #928d7a;

    &--started {
        padding-top: 0;
    }

    &--ended {
        padding-bottom: 0;
        border-bottom: inherit;
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        &--row {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        }

        &--center {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    &__image {
        border-radius: 60px;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__row {
        margin-bottom: 20px;
    }

    &__content {
        max-height: 0;
        margin-bottom: 20px;
        overflow: hidden;
        -webkit-transition: max-height 200ms ease-in-out;
        -o-transition: max-height 200ms ease-in-out;
        transition: max-height 200ms ease-in-out;

        &--visible {
            max-height: 1000px;
        }
    }
}
