// Colors
$color-text: #424953;
$color-title: #424953;
$color-link: #928d7a;
$color-link-hover: #8db596;
$color-subtext: #928d7a;
$color-icon: #928d7a;
$color-icon-hover: #62959c;
$color-box: #e0edde;
$color-date: #928d7a;
$color-body: #fff;
$color-list: #928d7a;
$color-error: #ec5858;
$color-validate: #8db596;
$color-warning: #ffcb91;
