// Font Sizes
$font-size-xl: 3.5rem;
$font-size-lg: 2.5rem;
$font-size-md: 1.9rem;
$font-size-sm: 1.5rem;

// Font Family
$font-family-sans-serif: sans-serif;
$font-family-regular: 'opensans-regular';
$font-family-light: 'opensans-light';

// Text Line Height
$line-height-base: 30px;
$line-height-medium: 40px;
