// Abstracts
@use '../../abstracts' as *;

// Component
.section {
    padding: 40px 0;

    &__inner {
        @include mq($from: tablet) {
            max-width: $device-md;
            margin: 0 auto;
        }

        @include mq($from: desktop) {
            max-width: $device-lg;
            margin: 0 auto;
        }
    }

    &__header {
        margin-bottom: 20px;
    }

    &__row {
        margin-bottom: 20px;
    }

    &__container {
        display: flex;

        &--row {
            flex-direction: row;
        }

        &--center {
            justify-content: center;
        }
    }
}
