// Abstracts
@use '../../abstracts' as *;

// Borders
$border-box: 2px solid #8db596;
$border-icon: 1px solid #8db596;

// Colors
$color-icon: #928d7a;
$color-box: #e0edde;
$color-body: #fff;

// Font size
$font-size-xl: 3.5rem;

// Component
.sidebar {
    padding: 40px 20px;
    background-color: $color-box;
    border: $border-box;

    @include mq($from: desktop) {
        width: calc(35% - 40px);
    }

    @include mq($from: wide) {
        width: calc(30% - 40px);
    }

    &__container {
        display: flex;

        &--row {
            flex-direction: row;
        }

        &--center {
            justify-content: center;
        }
    }

    &__header {
        margin-bottom: 40px;
    }

    &__icon {
        padding: 20px;
        color: $color-icon;
        font-size: $font-size-xl;
        background-color: $color-box;
        border: $border-icon;
        border-radius: 39px;

        @include mq($from: desktop) {
            background-color: $color-body;
        }
    }
}
