// Abstracts
@use '../../abstracts' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

// Component
.title {
    color: $color-title;
    font-weight: normal;
    font-family: $font-family-light, $font-family-sans-serif;

    &--xl {
        font-size: $font-size-xl;
    }

    &--lg {
        font-size: $font-size-lg;
    }

    &--md {
        font-size: $font-size-md;
    }

    &--center {
        text-align: center;
    }

    &__mainWord {
        color: $color-subtext;
    }
}
