// Abstracts
@use '../../abstracts' as *;

// Vendors
@use '../../vendors/sass-mq/mq' as *;

// BEM Blocks
.c-title {
    color: $color-title;
    font-weight: normal;
    font-family: $font-family-light, $font-family-sans-serif;
}

.c-title--xl {
    font-size: $font-size-xl;
}

.c-title--lg {
    font-size: $font-size-lg;
}

.c-title--md {
    font-size: $font-size-md;
}

.c-title--center {
    text-align: center;
}

// BEM Elements
.c-title__mainWord {
    color: $color-subtext;
}
