// Abstracts
@use '../../abstracts' as *;

// Colors
$color-text: #424953;
$color-date: #928d7a;

// Line height
$line-height-base: 30px;

// Font-family
$font-family-sans-serif: sans-serif;
$font-family-light: 'opensans-light';

// Font size
$font-size-sm: 1.5rem;

// Component
.blog {
    padding-bottom: 20px;
    line-height: $line-height-base;

    &--ended {
        padding-bottom: 0;
    }

    &__date {
        display: flex;
        align-items: center;
        color: $color-date;
        font-weight: normal;
        font-size: $font-size-sm;
        font-family: $font-family-light, $font-family-sans-serif;
    }

    &__post {
        margin: 0;
        color: $color-text;
    }

    &__icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}
