// Abstracts
@use '../../abstracts' as *;

// Colors
$color-blog-text: #424953;
$color-blog-date: #928d7a;

// Fonts
$font-family-blog: 'opensans-regular', sans-serif;
$font-size-blog: 1.5rem;

// Component
.blog {
    padding-bottom: 20px;
    line-height: 30px;

    &--ended {
        padding-bottom: 0;
    }

    &__date {
        display: flex;
        align-items: center;
        color: $color-blog-date;
        font-weight: normal;
        font-size: $font-size-blog;
        font-family: $font-family-blog;
    }

    &__post {
        margin: 0;
        color: $color-blog-text;
    }

    &__icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}
