// Abstracts
@use '../../abstracts' as *;

// Colors
$color-text: #424953;

// Font size
$font-size-sm: 1.5rem;

// Component
.toggle {
    position: relative;

    &--display {
        @include mq($from: desktop) {
            display: none;
        }
    }

    &__container {
        display: flex;

        &--column {
            flex-direction: column;
        }

        &--center {
            align-items: center;
        }
    }

    &__text {
        color: $color-text;
        font-size: $font-size-sm;
    }

    &__icon {
        width: 25px;
        height: 25px;

        &--bars {
            position: relative;
            transform: scale(1);
            transition: transform 200ms ease-in-out;
            transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
        }

        &--cross {
            position: absolute;
            top: 18px;
            transform: scale(0);
            transition: transform 200ms ease-in-out;
            transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
        }

        &--close {
            position: relative;
            top: 0;
            transform: scale(1);
        }

        &--open {
            position: absolute;
            top: 17px;
            transform: scale(0);
        }
    }
}
