// Abstracts
@use '../../abstracts' as *;

// Colors
$color-text: #424953;
$color-icon: #928d7a;

// Font size
$font-size-lg: 2.5rem;
$font-size-sm: 1.5rem;

// Component
.toggle {
    position: relative;

    &--display {
        @include mq($from: desktop) {
            display: none;
        }
    }

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        &--column {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        &--center {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }

    &__text {
        color: $color-text;
        font-size: $font-size-sm;
    }

    &__icon {
        color: $color-icon;
        font-size: $font-size-lg;

        &--bars {
            position: relative;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: -webkit-transform 200ms ease-in-out;
            -o-transition: transform 200ms ease-in-out;
            transition: -webkit-transform 200ms ease-in-out;
            transition: transform 200ms ease-in-out;
            transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
        }

        &--cross {
            position: absolute;
            top: 18px;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: -webkit-transform 200ms ease-in-out;
            -o-transition: transform 200ms ease-in-out;
            transition: -webkit-transform 200ms ease-in-out;
            transition: transform 200ms ease-in-out;
            transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
        }

        &--close {
            position: relative;
            top: 0;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

        &--open {
            position: absolute;
            top: 17px;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }
    }
}
