// Abstracts
@use '../../abstracts' as *;

// Colors
$color-link: #928d7a;
$color-link-hover: #8db596;

// Fonts
$font-size-link: 1.5rem;

// Component
.link {
    color: $color-link;
    font-size: $font-size-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}
